.faqtitle {
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
}

.faqwrapper {
  padding: 0px 150px 50px 150px;
}
